
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: url('./fonts/poppins-v21-latin-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('./fonts/poppins-v21-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('./fonts/poppins-v21-latin-600.woff2') format('woff2');
}

:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primery-light: #FAF4EA;
    --color-primery-dark: #31261a;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-primery-dark);
    margin: 0;
    font-size: 18px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.hero-section {
    padding: 100px 0;
    text-align: center;
    background-color: var(--color-brand-light);
    color: var(--color-primery-light);
}
.hero-title {
    font-size: 64px;
    font-weight: 900;
}
.hero-title .accent {
    color: var(--color-brand-dark);
}
/* Інші стилі залишаються незмінними */

